/* You can add global styles to this file, and also import other style files */

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

footer p {
    margin: 0 auto;
}